name: Build LibreRambox
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
  pull_request:
jobs:
  sencha:
    name: Build Sencha app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3 # For Sencha runtime
        with:
          distribution: 'temurin'
          java-version: '8'
      - uses: ruby/setup-ruby@v1 # For Sencha's SASS dependencies
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - run: sudo apt-get update
      - run: sudo apt-get install -y curl unzip libfreetype6 fontconfig
      - run: curl --silent http://cdn.sencha.com/cmd/6.6.0.13/no-jre/SenchaCmd-6.6.0.13-linux-amd64.sh.zip -o /tmp/sencha.zip
      - run: unzip /tmp/sencha.zip -d /tmp
      - run: chmod o+x /tmp/SenchaCmd-6.6.0.13-linux-amd64.sh
      - run: /tmp/SenchaCmd-6.6.0.13-linux-amd64.sh -q -Dall=true -dir /opt/Sencha/Cmd/6.6.0.13

      - name: Customizing the Sencha's output dir
        run: sed -i.bak 's/..\/librerambox-build/librerambox-build/' app.json

      - name: Build Sencha app
        run: /opt/Sencha/Cmd/sencha app build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/librerambox-build
          name: librerambox-build

  build:
    needs: sencha
    strategy:
      fail-fast: false
      matrix:
        job_name:
          - linux
          - osx
          - win
        include:
          - job_name: linux
            os: ubuntu-latest
          - job_name: osx
            os: macos-12
          - job_name: win
            os: windows-latest

    name: '${{ matrix.job_name }}'
    runs-on: '${{ matrix.os }}'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: librerambox-build
          path: .
      - uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
      - run: npm i

      # Build Linux
      - name: Build on Linux
        run: 'npm run build:linux'
        if: success() && matrix.job_name == 'linux'

      - name: LINUX Publish zip x64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-x64.zip
          name: LibreRambox-linux-x64.zip
        if: matrix.job_name == 'linux'

      - name: LINUX Publish tar.gz x64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-x64.tar.gz
          name: LibreRambox-linux-x64.tar.gz
        if: matrix.job_name == 'linux'

      - name: LINUX Publish deb amd64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-amd64.deb
          name: LibreRambox-linux-amd64.deb
        if: matrix.job_name == 'linux'

      - name: LINUX Publish AppImage x64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-x86_64.AppImage
          name: LibreRambox-linux-x86_64.AppImage
        if: matrix.job_name == 'linux'

      - name: LINUX Publish snap x64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-amd64.snap
          name: LibreRambox-linux-x86_64.snap
        if: matrix.job_name == 'linux'

      - name: LINUX Publish rpm x86_64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-linux-x86_64.rpm
          name: LibreRambox-linux-x86_64.rpm
        if: matrix.job_name == 'linux'

      - name: LINUX Publish yml
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/latest-linux.yml
          name: latest-linux.yml
        if: matrix.job_name == 'linux'

      # Build OSX
      - name: Build on OSX
        run: 'npm run build:osx'
        if: success() && matrix.job_name == 'osx'

      - name: OSX Publish zip
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-mac-universal.zip
          name: LibreRambox-mac-universal.zip
        if: matrix.job_name == 'osx'

      - name: OSX Publish dmg
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-mac-universal.dmg
          name: LibreRambox-mac-universal.dmg
        if: matrix.job_name == 'osx'

      - name: OSX Publish blockmap
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-mac-universal.dmg.blockmap
          name: LibreRambox-mac-universal.dmg.blockmap
        if: matrix.job_name == 'osx'

      - name: OSX Publish yml
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/latest-mac.yml
          name: latest-mac.yml
        if: matrix.job_name == 'osx'

      # Build Windows
      - name: Build on Windows
        run: 'npm run build:win'
        if: success() && matrix.job_name == 'win'

      - name: WIN Publish exe
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-win.exe
          name: LibreRambox-win.exe
        if: matrix.job_name == 'win'

      - name: WIN Publish zip x64
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-win-x64.zip
          name: LibreRambox-win-x64.zip
        if: matrix.job_name == 'win'

      - name: WIN Publish zip ia32
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-win-ia32.zip
          name: LibreRambox-win-ia32.zip
        if: matrix.job_name == 'win'

      - name: WIN Publish blockmap
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/LibreRambox-*-win.exe.blockmap
          name: LibreRambox-win.exe.blockmap
        if: matrix.job_name == 'win'

      - name: WIN Publish yml
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/dist/latest.yml
          name: latest.yml
        if: matrix.job_name == 'win'
